body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin-left: 20px;
    margin-right: 20px;
}

#profile {
    border-radius: 360px;
    display: block;
    margin-top: 20px;
    
}

#name {
    color: brown;
    font-size: 24px;
}

#web {
    margin-left: 5px;
    font-size: 18px;
}

.thick-hr {
    height: 4.5px;
    background-color: brown;
    border: none;
    margin-top: 15px;
}

h2 {
    margin-top: 20px;
    color: black;
}

ul {
    margin-left: 25px;
}
a:link{
    color:red;
}
a:hover{
    color:blue;
}
a:visited{
    color:purple;
}