body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.2;
}
header{
    background:white;
    display:block;
}
header img{
    border-radius: 360px;
    margin-top: 20px;
    width: 270px;
    height: 270px;
}
#name {
    color: #7a0017;
    font-size: 24px;
}

#web {
    margin-left: 5px;
    font-size: 18px;
}

.thick-hr {
    height: 6px;
    background-color: rgb(131, 29, 29);
    border: none;
    margin-top: 15px;
}

title {
    margin-top: 20px;
    color: black;
}

ul {
    margin-left: 25px;
}
a:link{
    color:blue;
}
a:hover{
    
    color:red;
}
a:visited{
    color:purple;
}
footer{
    text-align: center;
    padding: 30px;
    background:#44121c;
    color:bisque;
}